<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" /> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" /> -->
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" /> -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title>My Emails</title>
</head>

<script type="text/javascript">
$(document).ready(function() {
	$("#submitBtn").on("click", function() {

		event.stopPropagation();
		console.log("submitBtn clicked!");

// 		if (!$("#password").val()) {
// 			console.log("Passwords must not be empty");
// // 			$("#errorField").val("Passwords must not be empty");
// // 			$("alertField").addClass("visible");
// 			alert("Passwords must not be empty", "danger");
// 			return;
// 	    }

		if ($("#password").val() != $("#confirmPassword").val()) {
			console.log("Passwords do not match");
// 			$("#errorField").val("Passwords do not match");
// 			$("alertField").addClass("visible");
			alert("Passwords do not match", "danger");
			return;
	    }

		console.log("submit");
		$("#registrationForm").submit();

	});
});
</script>

<body>
	<div class="container">
		<br>
		<h1>User registration</h1>
		<br>
		<div class="alert alert-danger alert-dismissible invisible" role="alert" id="alertField">
			<span th:if="${error != null}" th:text="${error}" id="errorField"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<form method="post" id="registrationForm" th:action="@{/app/user/registration}" th:object="${user}">
			<div class="mb-3">
				<label for="idUserInput" class="form-label">ID</label>
				<input type="text" class="form-control" id="idUserInput" aria-describedby="idUserHelp"
						th:field="*{idUser}">
				<div id="idUserHelp" class="form-text">
					You must enter a valid UUID, see <a href="https://datatracker.ietf.org/doc/html/rfc4122" class="link-primary">A Universally Unique IDentifier (UUID) URN Namespace</a> for more information. Leave it blank so it is generated automatically.
				</div>
			</div>
			<div class="mb-3">
				<label for="emailInput" class="form-label">Email</label>
				<input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
						th:field="*{email}">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Name</label>
				<input type="text" class="form-control" id="nameInput"
						th:field="*{name}">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password"
						th:field="*{password}">
			</div>
			<div class="mb-3">
				<label for="confirmPassword" class="form-label">Confirm password</label>
				<input type="password" class="form-control" id="confirmPassword">
			</div>
			<button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
		</form>
	</div>
</body>
</html>
